@model IEnumerable<QuotationApp.Models.EventQuotation>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Quotes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tematic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tematic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
